* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryBlue: #00b0f0;
  --SecondaryBlue: #00b0f0;
  --White: #ffffff;
  --Black: #212121;
  --Orange: #ff9100;
  --Purple: #a800d6;
  --Green: #00b058;
}
